@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TechWorld with Mukesh </h1>
    <p>Learn about Software development, with my YouTube Channel<a>https://www.youtube.com/@techworldwithmukesh4287 </a>.</p>
</div>
