@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TechWorld with Mukesh </h1>
    <p>Learn about Software development, with my YouTube Channel<a href="https://youtu.be/AabR-93EPTM?si=oaL5q2QQ6o2CGjCX"> my channel </a>.</p>
</div>
